<launch>
    <include file= "$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />

    <include file= "$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
        <arg name="map_file" default="$(find scf_reto)/maps_tb/rafa_house_map.yaml"/>
    </include>

    <node pkg="scf_reto" name="turtlebot_brain" type="turtlebot_brain.py"/>
    
    <node pkg="scf_reto" name="telegram_broker" type="telegram_broker.py"/>
    <node pkg="scf_reto" name="node_red_run" type="node_red_run.py"/>
</launch>