<launch>
    <include file= "$(find ur_robot_driver)/launch/ur5e_bringup.launch" robot_ip="192.168.0.33"/>
    <!--<node pkg="reto_scf" type="cam_vec_tran.py" name="cam_vec_tran" >-->
    <node pkg="reto_scf" type="ur_pose.py" name="ur_pose" >

    <node pkg="reto_scf" type="adjust_ur_pose.py" name="adjust_ur_pose" >

</launch>